/*移动端公共样式文件*/
*,/*必须有逗号*/
::before,
::after{
    /*文字字体*/
    font-size: 14px;
    margin: 0;
    padding: 0;
    /*清除默认点击效果*/
    -webkit-tap-highlight-color: transparent;
    /*盒子模型*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*字体样式 如果有前面字体就采用前面的,没有就采用移动端默认字体sans-serif*/
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

/*input 标签去掉默认样式*/
input{
    border: none;
    -webkit-appearance: none;
}
/*去除a标签的下划线*/
a{
    text-decoration: none;
}

/*清除小圆点*/
ol,ul{
    list-style: none;
}
/*定义浮动class*/
.float_left{
    float: left;
}
.float_right{
    float: right;
}

/*定义清除浮动样式*/
.clearfix::before,
.clearfix::after{
    content: "";
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

/*边框的通用样式*/
.border_l{
    border-left: 1px solid #eee;
}
.border_r{
    border-right: 1px solid #eee;
}
.border_t{
    border-top: 1px solid #eee;
}
.border_b{
    border-bottom: 1px solid #eee;
}